.step-control-buttons {
  text-align: right;
}

.under-line {
  text-decoration: underline;
}

.search-input {
  width: 100%;
}

::ng-deep .mat-horizontal-stepper-header {
  pointer-events: none !important;
}

::ng-deep .search-input .mat-form-field-prefix {
  top: 5px;
}
